<div ng-cloak style="align-content: center">
    <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
    <div>
        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="c in addPCtrl.contactList">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <!-- Card Title is the person who write the message -->
                            <span class="card-title">{{c.UContactDispName}}</span>
                        </div>
                        <div class="card-action white">
			<p>
			</p>
			<button class="btn waves-effect waves-light " type="submit" name="action" ng-click="addPCtrl.addParticipant(c.CID)">Add Participant
                    <i class="material-icons right">reply</i>
                    </button>
				</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
