<div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card teal darken-1">
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Reply Message:</span>
                     <textarea style="background: white" id="textarea2" class="materialize-textarea" ng-model="repCtrl.Message"></textarea>
                </div>
                
                <div class="card-action white">
                    <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="repCtrl.postReply()">Post Reply
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
