<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card teal darken-1">
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Username:</span>
                     <textarea style="background: white" id="textarea1" class="materialize-textarea" ng-model="signupCtrl.UDispName"></textarea>
                </div>
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Password:</span>
                     <textarea style="background: white" id="textarea2" class="materialize-textarea" ng-model="signupCtrl.UPassword"></textarea>
                </div>
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">First Name:</span>
                     <textarea style="background: white" id="textarea3" class="materialize-textarea" ng-model="signupCtrl.UFirst_name"></textarea>
                </div>
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Last Name:</span>
                     <textarea style="background: white" id="textarea4" class="materialize-textarea" ng-model="signupCtrl.ULast_name"></textarea>
                </div>
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Email:</span>
                     <textarea style="background: white" id="textarea5" class="materialize-textarea" ng-model="signupCtrl.UEmail"></textarea>
                </div>
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Phone:</span>
                     <textarea style="background: white" id="textarea6" class="materialize-textarea" ng-model="signupCtrl.UPhone"></textarea>
                </div>
                <div class="card-action white">
                    <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="signupCtrl.register()">Register User
                    </button>
                </div>
            </div>
            <div class="card-action">
                    <a href="#/login">Exit</a>
            </div>
        </div>

    </div>
